@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Primary-Color: rgb(0, 105, 255);
}

.height{
  min-height: calc(100vh - 6.4rem);
}

.Navheight{
  min-height: calc(100vh - 1rem);
}



.width{
  width: calc(100vw);
}

.before::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 100%;
  backdrop-filter: blur(20px);
}

.bg-background{
  background-Image: url("/template/public/Images/watch.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}


.animate{
  animation: animate 2s infinite linear;
}


@keyframes animate {
  0%{
     padding-top: 0.25rem;
     padding-bottom: 0.25rem;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
  }
  50%{
    padding-top: 0.35rem;
     padding-bottom: 0.35rem;
     padding-left: 0.6rem;
     padding-right: 0.6rem;
    
  }
  100%{
    padding-top: 0.25rem;
     padding-bottom: 0.25rem;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
  }
  
} 